* text=auto !eol
AudioFramework/FrequencySequencer.cs -text
AudioFramework/Kindohm.KSynth/AttenuatorBase.cs -text
AudioFramework/Kindohm.KSynth/Delay.cs -text
AudioFramework/Kindohm.KSynth/DrumLibrary.cs -text
AudioFramework/Kindohm.KSynth/Envelope.cs -text
AudioFramework/Kindohm.KSynth/ISampleMaker.cs -text
AudioFramework/Kindohm.KSynth/IVoice.cs -text
AudioFramework/Kindohm.KSynth/IWaveForm.cs -text
AudioFramework/Kindohm.KSynth/Mixer.cs -text
AudioFramework/Kindohm.KSynth/Note.cs -text
AudioFramework/Kindohm.KSynth/Oscillator.cs -text
AudioFramework/Kindohm.KSynth/Pitch.cs -text
AudioFramework/Kindohm.KSynth/SawWaveForm.cs -text
AudioFramework/Kindohm.KSynth/Sequencer.cs -text
AudioFramework/Kindohm.KSynth/SequencerException.cs -text
AudioFramework/Kindohm.KSynth/SineWaveForm.cs -text
AudioFramework/Kindohm.KSynth/SquareWaveForm.cs -text
AudioFramework/Kindohm.KSynth/StepEvent.cs -text
AudioFramework/Kindohm.KSynth/StepNote.cs -text
AudioFramework/Kindohm.KSynth/StereoSample.cs -text
AudioFramework/Kindohm.KSynth/SynthMediaStreamSource.cs -text
AudioFramework/Kindohm.KSynth/TriangleWaveForm.cs -text
AudioFramework/Kindohm.KSynth/Voice.cs -text
AudioFramework/Kindohm.KSynth/VoiceNote.cs -text
AudioFramework/Kindohm.KSynth/WavPlayer.cs -text
AudioFramework/Properties/AssemblyInfo.cs -text
AudioFramework/WhiteNoiseWaveForm.cs -text
AudioFramework/_AudioFramework.csproj -text
AuditoryBubbleBlast/App.xaml -text
AuditoryBubbleBlast/App.xaml.cs -text
AuditoryBubbleBlast/AuditoryBubbleBlast.csproj -text
AuditoryBubbleBlast/Cell.cs -text
AuditoryBubbleBlast/MainPage.xaml -text
AuditoryBubbleBlast/MainPage.xaml.cs -text
AuditoryBubbleBlast/Properties/AppManifest.xml -text
AuditoryBubbleBlast/Properties/AssemblyInfo.cs -text
AuditoryBubbleBlast/Properties/OutOfBrowserSettings.xml -text
/AuditoryGame.dox -text
AuditoryGames.Web/@AuditoryGames.Web.csproj -text
AuditoryGames.Web/About.aspx -text
AuditoryGames.Web/About.aspx.cs -text
AuditoryGames.Web/About.aspx.designer.cs -text
AuditoryGames.Web/Account/ChangePassword.aspx -text
AuditoryGames.Web/Account/ChangePassword.aspx.cs -text
AuditoryGames.Web/Account/ChangePassword.aspx.designer.cs -text
AuditoryGames.Web/Account/ChangePasswordSuccess.aspx -text
AuditoryGames.Web/Account/ChangePasswordSuccess.aspx.cs -text
AuditoryGames.Web/Account/ChangePasswordSuccess.aspx.designer.cs -text
AuditoryGames.Web/Account/Login.aspx -text
AuditoryGames.Web/Account/Login.aspx.cs -text
AuditoryGames.Web/Account/Login.aspx.designer.cs -text
AuditoryGames.Web/Account/Register.aspx -text
AuditoryGames.Web/Account/Register.aspx.cs -text
AuditoryGames.Web/Account/Register.aspx.designer.cs -text
AuditoryGames.Web/Account/Web.config -text
AuditoryGames.Web/AuditorySubmarineTestPage.aspx -text
AuditoryGames.Web/AuditorySubmarineTestPage.html -text
AuditoryGames.Web/AuditoryTreasureHunterTestPage.aspx -text
AuditoryGames.Web/AuditoryTreasureHunterTestPage.html -text
AuditoryGames.Web/ClientBin/AuditorySubmarine.xap -text
AuditoryGames.Web/ClientBin/TestGame.xap -text
AuditoryGames.Web/ClientBin/TestSequencer.xap -text
AuditoryGames.Web/Default.aspx -text
AuditoryGames.Web/Default.aspx.cs -text
AuditoryGames.Web/Default.aspx.designer.cs -text
AuditoryGames.Web/Global.asax -text
AuditoryGames.Web/Global.asax.cs -text
AuditoryGames.Web/Properties/AssemblyInfo.cs -text
AuditoryGames.Web/Scripts/jquery-1.4.1-vsdoc.js -text
AuditoryGames.Web/Scripts/jquery-1.4.1.js -text
AuditoryGames.Web/Scripts/jquery-1.4.1.min.js -text
AuditoryGames.Web/Silverlight.js -text
AuditoryGames.Web/Site.Master -text
AuditoryGames.Web/Site.Master.cs -text
AuditoryGames.Web/Site.Master.designer.cs -text
AuditoryGames.Web/Styles/Site.css -text
AuditoryGames.Web/TestGameTestPage.aspx -text
AuditoryGames.Web/TestGameTestPage.html -text
AuditoryGames.Web/TestSequencerTestPage.aspx -text
AuditoryGames.Web/TestSequencerTestPage.html -text
AuditoryGames.Web/Web.Debug.config -text
AuditoryGames.Web/Web.Release.config -text
AuditoryGames.Web/Web.config -text
/AuditoryGames.v2.sln -text
AuditorySubmarine/ApplicationManager.cs -text
AuditorySubmarine/AuditorySubmarine.csproj -text
AuditorySubmarine/GateObject.cs -text
AuditorySubmarine/Media/Explosion1.png -text
AuditorySubmarine/Media/Explosion2.png -text
AuditorySubmarine/Media/Explosion3.png -text
AuditorySubmarine/Media/Explosion4.png -text
AuditorySubmarine/Media/Explosion5.png -text
AuditorySubmarine/Media/Explosion6.png -text
AuditorySubmarine/Media/Explosion7.png -text
AuditorySubmarine/Media/fullscreen.png -text
AuditorySubmarine/Media/sublife.png -text
AuditorySubmarine/Media/wall.png -text
AuditorySubmarine/Media/warp1.png -text
AuditorySubmarine/Media/warp2.png -text
AuditorySubmarine/Media/warp3.png -text
AuditorySubmarine/Media/warp4.png -text
AuditorySubmarine/Media/warp5.png -text
AuditorySubmarine/Media/warp6.png -text
AuditorySubmarine/Media/warp7.png -text
AuditorySubmarine/Media/warp8.png -text
AuditorySubmarine/Media/ysubmarine2.png -text
AuditorySubmarine/Media/ysubmarine3.png -text
AuditorySubmarine/Media/ysubmarine4.png -text
AuditorySubmarine/Media/ysubmarine5.png -text
AuditorySubmarine/Media/ysubmarine6.png -text
AuditorySubmarine/Properties/AppManifest.xml -text
AuditorySubmarine/Properties/AssemblyInfo.cs -text
AuditorySubmarine/Properties/OutOfBrowserSettings.xml -text
AuditorySubmarine/StartLevelPanel.xaml -text
AuditorySubmarine/StartLevelPanel.xaml.cs -text
AuditorySubmarine/SubmarineApp.cs -text
AuditorySubmarine/SubmarinePlayer.cs -text
AuditorySubmarine/SubmarineScorePanel.xaml -text
AuditorySubmarine/SubmarineScorePanel.xaml.cs -text
AuditorySubmarine/SubmarineToolbox.xaml -text
AuditorySubmarine/SubmarineToolbox.xaml.cs -text
AuditorySubmarine/UI/SubmarineOptions.xaml -text
AuditorySubmarine/UI/SubmarineOptions.xaml.cs -text
AuditorySubmarine/WallObject.cs -text
AuditoryTreasureHunter/ApplicationManager.cs -text
AuditoryTreasureHunter/AuditoryTreasureHunter.csproj -text
AuditoryTreasureHunter/BackgroundGameObject.cs -text
AuditoryTreasureHunter/MapViewer.xaml -text
AuditoryTreasureHunter/MapViewer.xaml.cs -text
AuditoryTreasureHunter/Media/Explosion1.png -text
AuditoryTreasureHunter/Media/Explosion2.png -text
AuditoryTreasureHunter/Media/Explosion3.png -text
AuditoryTreasureHunter/Media/Explosion4.png -text
AuditoryTreasureHunter/Media/Explosion5.png -text
AuditoryTreasureHunter/Media/Explosion6.png -text
AuditoryTreasureHunter/Media/Explosion7.png -text
AuditoryTreasureHunter/Media/bg.png -text
AuditoryTreasureHunter/Media/bigisland.png -text
AuditoryTreasureHunter/Media/board_count.png -text
AuditoryTreasureHunter/Media/board_score.png -text
AuditoryTreasureHunter/Media/board_target.png -text
AuditoryTreasureHunter/Media/bob.png -text
AuditoryTreasureHunter/Media/gold1.png -text
AuditoryTreasureHunter/Media/hole1.png -text
AuditoryTreasureHunter/Media/hook.png -text
AuditoryTreasureHunter/Media/metal1.png -text
AuditoryTreasureHunter/Media/rail.png -text
AuditoryTreasureHunter/Media/rope.png -text
AuditoryTreasureHunter/Media/twobullets.png -text
AuditoryTreasureHunter/Media/unknown.png -text
AuditoryTreasureHunter/Model/TreasureConfig.cs -text
AuditoryTreasureHunter/Model/TreasureGame.cs -text
AuditoryTreasureHunter/Model/TreasureUser.cs -text
AuditoryTreasureHunter/Properties/AppManifest.xml -text
AuditoryTreasureHunter/Properties/AssemblyInfo.cs -text
AuditoryTreasureHunter/Properties/OutOfBrowserSettings.xml -text
AuditoryTreasureHunter/ScoreObject.cs -text
AuditoryTreasureHunter/TreasureApp.cs -text
AuditoryTreasureHunter/TreasureHunter.cs -text
AuditoryTreasureHunter/TreasureNugget.cs -text
AuditoryTreasureHunter/UI/ScorePanel.xaml -text
AuditoryTreasureHunter/UI/ScorePanel.xaml.cs -text
AuditoryTreasureHunter/UI/StartLevelPanel.xaml -text
AuditoryTreasureHunter/UI/StartLevelPanel.xaml.cs -text
AuditoryTreasureHunter/UI/TreasureToolbox.xaml -text
AuditoryTreasureHunter/UI/TreasureToolbox.xaml.cs -text
AuditoryTreasureHunter/Weapon.cs -text
AuditoryWhackAMole/App.xaml -text
AuditoryWhackAMole/App.xaml.cs -text
AuditoryWhackAMole/AuditoryWhackAMole.csproj -text
AuditoryWhackAMole/MainPage.xaml -text
AuditoryWhackAMole/MainPage.xaml.cs -text
AuditoryWhackAMole/Properties/AppManifest.xml -text
AuditoryWhackAMole/Properties/AssemblyInfo.cs -text
AuditoryWhackAMole/Properties/OutOfBrowserSettings.xml -text
/DosxygenTag.cs -text
GameFramework/Assets/Styles.xaml -text
GameFramework/Core/AnimatedGameObject.cs -text
GameFramework/Core/BackgroundGameObject.cs -text
GameFramework/Core/BaseObject.cs -text
GameFramework/Core/CollisionIdentifiers.cs -text
GameFramework/Core/CollisionManager.cs -text
GameFramework/Core/GameObject.cs -text
GameFramework/Core/KeyHandler.cs -text
GameFramework/Core/ResourceHelper.cs -text
GameFramework/Core/ResourcePool.cs -text
GameFramework/Core/StateManager.cs -text
GameFramework/Core/ZLayers.cs -text
GameFramework/Media/background-title.png -text
GameFramework/Media/board_left.png -text
GameFramework/Media/board_middle.png -text
GameFramework/Media/board_right.png -text
GameFramework/Media/board_score.png -text
GameFramework/Media/buttonIn.jpg -text
GameFramework/Media/buttonOut.jpg -text
GameFramework/Media/fullscreen.png -text
GameFramework/Media/play_button.png -text
GameFramework/Media/refresh_button.png -text
GameFramework/Properties/AssemblyInfo.cs -text
GameFramework/UI/App.xaml -text
GameFramework/UI/App.xaml.cs -text
GameFramework/UI/ButtonIcon.xaml -text
GameFramework/UI/ButtonIcon.xaml.cs -text
GameFramework/UI/DefaultButtonHub.cs -text
GameFramework/UI/GameParameters.xaml -text
GameFramework/UI/GameParameters.xaml.cs -text
GameFramework/UI/HighScore.xaml -text
GameFramework/UI/HighScore.xaml.cs -text
GameFramework/UI/Page.xaml -text
GameFramework/UI/Page.xaml.cs -text
GameFramework/UI/ScoreControl.xaml -text
GameFramework/UI/ScoreControl.xaml.cs -text
GameFramework/UI/SuperDataForm.cs -text
GameFramework/UI/UserModelEditor.xaml -text
GameFramework/UI/UserModelEditor.xaml.cs -text
GameFramework/UserModel/AuditoryModel.cs -text
GameFramework/UserModel/ConfigManager.cs -text
GameFramework/UserModel/GameOptions.cs -text
GameFramework/UserModel/HighScores.cs -text
GameFramework/UserModel/Logger.cs -text
GameFramework/UserModel/UserModel.cs -text
GameFramework/Utility/MathUtil.cs -text
GameFramework/Utility/SerializableDictionary.cs -text
GameFramework/Utility/StopwatchPlus.cs -text
GameFramework/_GameFramework.csproj -text
GameFramework/_Sample/ApplicationManager.cs -text
GameFramework/_Sample/Enemy.cs -text
GameFramework/_Sample/Player.cs -text
GameFramework/_Sample/Weapon.cs -text
TestGame/ApplicationManager.cs -text
TestGame/Properties/AppManifest.xml -text
TestGame/Properties/AssemblyInfo.cs -text
TestGame/Properties/OutOfBrowserSettings.xml -text
TestGame/TestApp.cs -text
TestGame/TestGame.csproj -text
TestGame/media/Explosion1.png -text
TestGame/media/Explosion2.png -text
TestGame/media/Explosion3.png -text
TestGame/media/Explosion4.png -text
TestGame/media/Explosion5.png -text
TestGame/media/Explosion6.png -text
TestGame/media/Explosion7.png -text
TestGame/media/bigisland.png -text
TestGame/media/blueplane1.png -text
TestGame/media/blueplane2.png -text
TestGame/media/blueplane3.png -text
TestGame/media/brownplane1.png -text
TestGame/media/brownplane2.png -text
TestGame/media/brownplane3.png -text
TestGame/media/smallisland.png -text
TestGame/media/twobullets.png -text
TestGame/media/volcanoisland.png -text
TestSequencer/App.xaml -text
TestSequencer/App.xaml.cs -text
TestSequencer/MainPage.xaml -text
TestSequencer/MainPage.xaml.cs -text
TestSequencer/Media/play.png -text
TestSequencer/Media/stop.png -text
TestSequencer/Properties/AppManifest.xml -text
TestSequencer/Properties/AssemblyInfo.cs -text
TestSequencer/Properties/OutOfBrowserSettings.xml -text
TestSequencer/TestSequencer.csproj -text
/csharp.tag -text
