* text=auto !eol
AudioFramework/FrequencySequencer.cs -text
AudioFramework/Kindohm.KSynth/AttenuatorBase.cs -text
AudioFramework/Kindohm.KSynth/Delay.cs -text
AudioFramework/Kindohm.KSynth/DrumLibrary.cs -text
AudioFramework/Kindohm.KSynth/Envelope.cs -text
AudioFramework/Kindohm.KSynth/ISampleMaker.cs -text
AudioFramework/Kindohm.KSynth/IVoice.cs -text
AudioFramework/Kindohm.KSynth/IWaveForm.cs -text
AudioFramework/Kindohm.KSynth/Mixer.cs -text
AudioFramework/Kindohm.KSynth/Note.cs -text
AudioFramework/Kindohm.KSynth/Oscillator.cs -text
AudioFramework/Kindohm.KSynth/Pitch.cs -text
AudioFramework/Kindohm.KSynth/SawWaveForm.cs -text
AudioFramework/Kindohm.KSynth/Sequencer.cs -text
AudioFramework/Kindohm.KSynth/SequencerException.cs -text
AudioFramework/Kindohm.KSynth/SineWaveForm.cs -text
AudioFramework/Kindohm.KSynth/SquareWaveForm.cs -text
AudioFramework/Kindohm.KSynth/StepEvent.cs -text
AudioFramework/Kindohm.KSynth/StepNote.cs -text
AudioFramework/Kindohm.KSynth/StereoSample.cs -text
AudioFramework/Kindohm.KSynth/SynthMediaStreamSource.cs -text
AudioFramework/Kindohm.KSynth/TriangleWaveForm.cs -text
AudioFramework/Kindohm.KSynth/Voice.cs -text
AudioFramework/Kindohm.KSynth/VoiceNote.cs -text
AudioFramework/Kindohm.KSynth/WavPlayer.cs -text
AudioFramework/Properties/AssemblyInfo.cs -text
AudioFramework/_AudioFramework.csproj -text
/AuditoryGames.v2.sln -text
AuditorySubmarine/ApplicationManager.cs -text
AuditorySubmarine/AuditorySubmarine.csproj -text
AuditorySubmarine/GateObject.cs -text
AuditorySubmarine/Media/Explosion1.png -text
AuditorySubmarine/Media/Explosion2.png -text
AuditorySubmarine/Media/Explosion3.png -text
AuditorySubmarine/Media/Explosion4.png -text
AuditorySubmarine/Media/Explosion5.png -text
AuditorySubmarine/Media/Explosion6.png -text
AuditorySubmarine/Media/Explosion7.png -text
AuditorySubmarine/Media/asub1.png -text
AuditorySubmarine/Media/asub2.png -text
AuditorySubmarine/Media/asub3.png -text
AuditorySubmarine/Media/asub4.png -text
AuditorySubmarine/Media/gate_bottom.png -text
AuditorySubmarine/Media/gate_top.png -text
AuditorySubmarine/Media/wall.png -text
AuditorySubmarine/Properties/AppManifest.xml -text
AuditorySubmarine/Properties/AssemblyInfo.cs -text
AuditorySubmarine/Properties/OutOfBrowserSettings.xml -text
AuditorySubmarine/SubmarinePlayer.cs -text
AuditorySubmarine/WallObject.cs -text
AuditoryTreasureHunter/ApplicationManager.cs -text
AuditoryTreasureHunter/AuditoryTreasureHunter.csproj -text
AuditoryTreasureHunter/BackgroundGameObject.cs -text
AuditoryTreasureHunter/Media/Explosion1.png -text
AuditoryTreasureHunter/Media/Explosion2.png -text
AuditoryTreasureHunter/Media/Explosion3.png -text
AuditoryTreasureHunter/Media/Explosion4.png -text
AuditoryTreasureHunter/Media/Explosion5.png -text
AuditoryTreasureHunter/Media/Explosion6.png -text
AuditoryTreasureHunter/Media/Explosion7.png -text
AuditoryTreasureHunter/Media/bg.png -text
AuditoryTreasureHunter/Media/bigisland.png -text
AuditoryTreasureHunter/Media/blueplane1.png -text
AuditoryTreasureHunter/Media/blueplane2.png -text
AuditoryTreasureHunter/Media/blueplane3.png -text
AuditoryTreasureHunter/Media/board_count.png -text
AuditoryTreasureHunter/Media/board_score.png -text
AuditoryTreasureHunter/Media/bob.png -text
AuditoryTreasureHunter/Media/gold1.png -text
AuditoryTreasureHunter/Media/hole1.png -text
AuditoryTreasureHunter/Media/hook.png -text
AuditoryTreasureHunter/Media/metal1.png -text
AuditoryTreasureHunter/Media/rail.png -text
AuditoryTreasureHunter/Media/rope.png -text
AuditoryTreasureHunter/Media/smallisland.png -text
AuditoryTreasureHunter/Media/twobullets.png -text
AuditoryTreasureHunter/Media/volcanoisland.png -text
AuditoryTreasureHunter/Properties/AppManifest.xml -text
AuditoryTreasureHunter/Properties/AssemblyInfo.cs -text
AuditoryTreasureHunter/Properties/OutOfBrowserSettings.xml -text
AuditoryTreasureHunter/TreasureHunter.cs -text
AuditoryTreasureHunter/TreasureNugget.cs -text
AuditoryTreasureHunter/Weapon.cs -text
AuditoryWhackAMole/App.xaml -text
AuditoryWhackAMole/App.xaml.cs -text
AuditoryWhackAMole/AuditoryWhackAMole.csproj -text
AuditoryWhackAMole/MainPage.xaml -text
AuditoryWhackAMole/MainPage.xaml.cs -text
AuditoryWhackAMole/Properties/AppManifest.xml -text
AuditoryWhackAMole/Properties/AssemblyInfo.cs -text
GameFramework/Core/AnimatedGameObject.cs -text
GameFramework/Core/BackgroundGameObject.cs -text
GameFramework/Core/BaseObject.cs -text
GameFramework/Core/CollisionIdentifiers.cs -text
GameFramework/Core/CollisionManager.cs -text
GameFramework/Core/GameObject.cs -text
GameFramework/Core/KeyHandler.cs -text
GameFramework/Core/ResourceHelper.cs -text
GameFramework/Core/ResourcePool.cs -text
GameFramework/Core/StateManager.cs -text
GameFramework/Core/ZLayers.cs -text
GameFramework/Properties/AssemblyInfo.cs -text
GameFramework/UI/App.xaml -text
GameFramework/UI/App.xaml.cs -text
GameFramework/UI/ButtonIcon.xaml -text
GameFramework/UI/ButtonIcon.xaml.cs -text
GameFramework/UI/GameParameters.xaml -text
GameFramework/UI/GameParameters.xaml.cs -text
GameFramework/UI/Page.xaml -text
GameFramework/UI/Page.xaml.cs -text
GameFramework/UI/ScoreControl.xaml -text
GameFramework/UI/ScoreControl.xaml.cs -text
GameFramework/Utility/MathUtil.cs -text
GameFramework/Utility/StopwatchPlus.cs -text
GameFramework/_GameFramework.csproj -text
GameFramework/_Sample/ApplicationManager.cs -text
GameFramework/_Sample/Enemy.cs -text
GameFramework/_Sample/Player.cs -text
GameFramework/_Sample/Weapon.cs -text
TestGame/ApplicationManager.cs -text
TestGame/Enemy.cs -text
TestGame/Player.cs -text
TestGame/Properties/AppManifest.xml -text
TestGame/Properties/AssemblyInfo.cs -text
TestGame/Properties/OutOfBrowserSettings.xml -text
TestGame/TestGame.csproj -text
TestGame/Weapon.cs -text
TestGame/media/Explosion1.png -text
TestGame/media/Explosion2.png -text
TestGame/media/Explosion3.png -text
TestGame/media/Explosion4.png -text
TestGame/media/Explosion5.png -text
TestGame/media/Explosion6.png -text
TestGame/media/Explosion7.png -text
TestGame/media/bigisland.png -text
TestGame/media/blueplane1.png -text
TestGame/media/blueplane2.png -text
TestGame/media/blueplane3.png -text
TestGame/media/brownplane1.png -text
TestGame/media/brownplane2.png -text
TestGame/media/brownplane3.png -text
TestGame/media/smallisland.png -text
TestGame/media/twobullets.png -text
TestGame/media/volcanoisland.png -text
TestSequencer/App.xaml -text
TestSequencer/App.xaml.cs -text
TestSequencer/MainPage.xaml -text
TestSequencer/MainPage.xaml.cs -text
TestSequencer/Media/play.png -text
TestSequencer/Media/stop.png -text
TestSequencer/Properties/AppManifest.xml -text
TestSequencer/Properties/AssemblyInfo.cs -text
TestSequencer/TestSequencer.csproj -text
